/* configurações gerais */
*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(60deg,  rgb(3, 3, 93), rgb(255, 157, 0), rgb(143, 1, 58)) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;    
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

/* inicio container */
<i> e